body {

    background-image: url("https://media.istockphoto.com/id/1174924872/pt/foto/sports-equipment-background.jpg?s=170667a&w=0&k=20&c=i91QRal5xfl7_it0vC1lUIr9adlBNHO6Jk2HE5UaUOs=");

    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
    
}